@import 'variables';


/////////////////////////////////////////////////////////////////////////////////////////
/*  CARD DESIGN */

.card {
  background-color: $card-background;
}

.card-header {
  background-color: $card-background;
}

.card-title {
  text-transform: uppercase;
  font-weight: bold;
}

/////////////////////////////////////////////////////////////////////////////////////////
/*  NAVBAR DESIGN */

.binger-navbar {
  min-height: 70px;
  z-index: 2000;
  background-color: $card-background;
  border-bottom: 5px solid $primary-color;
}

.nav-link {
  color: $primary-color !important;
}

/////////////////////////////////////////////////////////////////////////////////////////
/*  AVATAR DESIGN */

.binger-avatar {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: transparent !important;
  margin-left: 20px;
}

.binger-avatar img {
  border-radius: inherit;
  width: inherit;
  height: inherit;
  display: block;
  position: relative;
  border: 5px solid $secondary-color;
  -webkit-transition: border 0.2s ease-in;
  -moz-transition: border 0.2s ease-in;
  -o-transition: border 0.2s ease-in;
  transition: border 0.2s ease-in;

  &:hover, &:active, &:focus {
    border: 5px solid $secondary-color-darken;
  }
}

.dropdown-menu {
  background-color: $card-background;
  border-radius: 24px;
  border: 5px solid $secondary-color;
  padding: 0px 0;
}

.dropdown-header {
  color: $primary-color;
}

.dropdown-item {
  color: $primary-color;
  -webkit-transition: background-color 0.2s ease-in, color 0.2s ease-in;
  -moz-transition: background-color 0.2s ease-in, color 0.2s ease-in;
  -o-transition: background-color 0.2s ease-in, color 0.2s ease-in;
  transition: background-color 0.2s ease-in, color 0.2s ease-in;

  &:hover, &:active, &:focus {
    background-color: $body-background !important;
    color: $primary-color-darken !important;
  }

  &:first-child {
    border-radius: 24px 24px 0 0;
  }

  &:last-child {
    border-radius: 0 0 24px 24px;
  }
}

/////////////////////////////////////////////////////////////////////////////////////////
/*  ACTORS CARD DESIGN */

.binger-actors-card {
  margin: 20px;
}

.binger-actors-item {
  max-width: 100%;
}

.binger-actors-name {
  color: $primary-color;
  font-weight: bold;
  display: flex;
  padding-top: 5px;
  justify-content: center;
  text-align: center;
}

.binger-actors-character {
  color: $secondary-color;
  font-style: italic;
  display: flex;
  padding-top: 5px;
  justify-content: center;
  text-align: center;
}

/////////////////////////////////////////////////////////////////////////////////////////
/*  BUTTON DESIGN */

.binger-btn {
  background-color: $primary-color;
  color: #000000;
  border: none;
  font-weight: bold;
  text-transform: uppercase;
  height: 48px;
  font-size: 24px;
  align-items: center;
  white-space: nowrap;
  -webkit-transition: background-color 0.2s ease-in;
  -moz-transition: background-color 0.2s ease-in;
  -o-transition: background-color 0.2s ease-in;
  transition: background-color 0.2s ease-in;

  &:hover, &:active, &:focus {
    outline: none;
    background-color: $primary-color-darken !important;
  }

  &.binger-btn-normal {
    border-radius: 24px;
    display: flex;

    .binger-btn-icon {
      font-size: $button-icon-size;
      padding-right: 5px;
      padding-left: 5px;
    }

    .binger-btn-text {
      padding-left: 5px;
      padding-right: 5px;
    }

    .binger-btn-text-expandable {
      max-width: 0;
      overflow: hidden;
      white-space: nowrap;
      -webkit-transition: all 0.4s ease-in;
      -moz-transition: all 0.4s ease-in;
      -o-transition: all 0.4s ease-in;
      transition: all 0.4s ease-in;
    }
  }

  &.binger-btn-circle {
    border-radius: 50%;
    width: 48px;

    .binger-btn-icon {
      font-size: $input-icon-size;
    }
  }
}

.binger-btn:hover .binger-btn-text-expandable {
  padding-right: 5px;
  max-width: 17rem;
}

.binger-btn-link {
  background-color: transparent;
  color: $primary-color;
  border: none;
  cursor: pointer;
  display: inline;
  -webkit-transition: color 0.2s ease-in;
  -moz-transition: color 0.2s ease-in;
  -o-transition: color 0.2s ease-in;
  transition: color 0.2s ease-in;

  &:hover, &:focus {
    text-decoration: none;
    outline: none;
    color: $primary-color-darken !important
  }
}

.ant-btn-medium {
  color: #000000;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 18px;
  height: 36px;
  font-size: 18px;

  &:hover, &:active, &:focus {
    color: #000000;
  }
}

.binger-btn-green {
  background-color: $green-color;
  color: $white !important;

  &:hover, &:active, &:focus {
    background-color: $green-color-darken !important;
  }
}

.binger-btn-red {
  background-color: $red-color !important;
  color: $white !important;

  &:hover, &:active, &:focus {
    background-color: $red-color-darken !important;
  }
}

.binger-btn-blue {
  background-color: $blue-color;
  color: $white !important;

  &:hover, &:active, &:focus {
    background-color: $blue-color-darken !important;
  }
}

/////////////////////////////////////////////////////////////////////////////////////////
/*  TAG DESIGN */

.binger-tag {
  background-color: $primary-color;
  color: #FFFFFF;
  border: none;
  font-weight: bold;
  height: 36px;
  font-size: 18px;
  border-radius: 12px;
  margin: 10px;
  padding: 5px;
  display: flex;
  align-items: center;
  white-space: nowrap;

  .binger-tag-icon {
    font-size: $tag-icon-size;
    padding-right: 5px;
    padding-left: 5px;
  }

  .binger-tag-text {
    padding-left: 5px;
    padding-right: 5px;
  }

  .binger-tag-close-icon {
    color: #FFFFFF;
    padding-left: 5px;
    padding-right: 5px;
    -webkit-transition: color 0.2s ease-in;
    -moz-transition: color 0.2s ease-in;
    -o-transition: color 0.2s ease-in;
    transition: color 0.2s ease-in;

    &:hover, &:active, &:focus {
      color: #E0E0E0 !important;
    }
  }

  .binger-tag-add {
    color: #FFFFFF;
    padding-left: 5px;
    padding-right: 5px;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;

    &:hover, &:active, &:focus {
      color: #E0E0E0 !important;
    }
  }

  .binger-tag-input {
    background-color: $primary-color !important;
    color: $white !important;
    border: 0;
    padding-left: 5px;
    padding-right: 5px;
    font-weight: bold;
    display: block;
    height: 36px !important;
    //width: 100%;
    border-radius: 12px;
    font-size: 18px !important;

    &:hover, &:active, &:focus {
      outline: none;
    }
  }
}

/////////////////////////////////////////////////////////////////////////////////////////
/*  INPUT DESIGN */

.binger-input {
  position: relative;
}

.binger-input-label {
  display: block;
}

.binger-input-icon {
  font-size: $input-icon-size;
  color: $white;
  display: block;
  position: absolute;
  left: 20px;
}

.binger-input-field {
  background-color: $secondary-color !important;
  border: 5px solid $primary-color;
  border-radius: 24px !important;
  color: $white !important;
  display: block;
  height: 48px !important;
  width: 100%;
  font-size: 29px !important;
  padding-left: 52px;
  -webkit-transition: border-color 0.2s ease-in;
  -moz-transition: border-color 0.2s ease-in;
  -o-transition: border-color 0.2s ease-in;
  transition: border-color 0.2s ease-in;

  &:hover, &:active, &:focus {
    outline: none;
    border-color: $primary-color-darken
  }
}

.binger-input-not-valid {
  border-color: $error;
}

/////////////////////////////////////////////////////////////////////////////////////////
/*  NOTIFICATION DESIGN */

.binger-notification {
  display: flex;
  background-color: $card-background;
  color: $white;
  border-radius: 24px;
  padding: 16px;
  position: absolute;
  right: 16px;
  z-index: 999;
  transition: top 0.5s ease;

  &.success {
    border: 5px solid $success;
  }

  &.error {
    border: 5px solid $error;
  }

  &.info {
    border: 5px solid $info;
  }

  &.warning {
    border: 5px solid $warning;
  }

  .binger-notification-icon {
    font-size: $notification-icon-size;
    margin: 5px;
  }

  .binger-notification-text-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5px;
  }

  .binger-notification-title {
    font-size: $notification-title-size;
  }

  .binger-notification-description {
    font-size: $notification-description-size;
  }
}

/////////////////////////////////////////////////////////////////////////////////////////
/*  SELECT DESIGN */

.ant-select-selection {
  background: transparent;
  border-radius: 24px;
  cursor: default;
}

.ant-select-dropdown {
  border: 5px solid $secondary-color !important;
  background-color: $card-background;
  overflow: hidden;
  -moz-border-radius: 24px;
  -khtml-border-radius: 24px;
  -webkit-border-radius: 24px;
  border-radius: 24px;
}

.ant-select-dropdown-menu-item {
  background-color: $card-background;

  &:hover {
    background-color: $body-background;
  }
}

/////////////////////////////////////////////////////////////////////////////////////////
/*  TEXT DESIGN */

.binger-text {
  color: $primary-color;
}

.binger-text-strong {
  color: $primary-color;
  font-size: 40px;
  padding-right: 5px;
  padding-left: 5px;
  font-weight: bold;
}

.binger-blue {
  color: $blue-color;
}

.binger-lime {
  color: $lime-color;
}

strong {
  color: $primary-color;
}

h3 {
  color: $primary-color;
}

label {
  color: $primary-color !important;
  font-size: 18px !important;
}

/////////////////////////////////////////////////////////////////////////////////////////
/*  Search DESIGN */

.binger-search {
  display: inline;
}

.binger-search-list {
  width: 100%;
  max-height: 375px;
  border-radius: 24px;
  border: 5px solid $secondary-color !important;
  margin-bottom: 0;
  padding-left: 0;
  overflow: auto;
  outline: none;
  position: absolute;
  background-color: $card-background !important;

  .binger-search-list-item {
    color: $primary-color;
    overflow: hidden;
    font-weight: bold;
    padding: 5px 12px;
    -webkit-transition: background-color 0.2s ease-in, color 0.2s ease-in;
    -moz-transition: background-color 0.2s ease-in, color 0.2s ease-in;
    -o-transition: background-color 0.2s ease-in, color 0.2s ease-in;
    transition: background-color 0.2s ease-in, color 0.2s ease-in;

    &:hover, &:active, &:focus {
      background-color: $body-background;
      cursor: pointer;
    }

    .binger-search-list-item-type {
      text-transform: uppercase;
    }
  }
}

/////////////////////////////////////////////////////////////////////////////////////////
/*  MOVIE & TV SERIES DESIGN */

.movie-poster {
  width: 223px;
  height: 335px;
  border: 5px solid $primary-color;
}

.movie-title-row {
  display: flex;
  align-items: center;
}

.movie-title {
  font-size: 50px;
  font-weight: bold;
  color: $primary-color;
  font-family: 'Roboto', sans-serif;
}

.movie-year {
  background-color: $secondary-color;
  color: #000000;
  font-size: 40px;
  font-family: "Nunito Sans", sans-serif;
  border-radius: 24px;
  margin:0 10px 0 10px;
  padding: 0 10px 0 10px;
}

.movie-tags-section {
  margin-top: 2.3rem;
}

.movie-tags-paragraph {
  font-size: 40px;
  font-weight: bold;
  color: $primary-color;
}

/////////////////////////////////////////////////////////////////////////////////////////
/*  LAYOUT DESIGN */

body {
  background: $body-background;
}

.main-page {
  min-height: 100vh;
  padding-top: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.main-logo {
  margin: 20px 20px 20px 20px;
}

.main-card {
  position: relative;
  padding: 60px 60px 60px 60px;
}

.main-card-title {
  padding: 10px 10px 10px 10px;
}

.main-card-body {
  position: relative;
  padding: 10px 10px 10px 10px;
}

.align-end {
  display: flex;
  justify-content: flex-end;
}

.binger-title-row {
  padding: 10px;
}

.content {
  padding: 2.3rem;
}

.ant-layout-header {
  height: 100px;
}

.link-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: inline;

  &:hover, &:focus {
    text-decoration: none;
    outline: 0;
  }
}

::-webkit-scrollbar {
  width: 26px;
  background: transparent;
}

::-webkit-scrollbar-track {
  border-top-right-radius: 24px;
  border-bottom-right-radius: 24px;
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: $card-background;
}

::-webkit-scrollbar-thumb {
  border-radius: 24px;
  background: $secondary-color;
}

.binger-flex-center {
  display: flex;
  align-items: center;
}

.binger-flex-baseline {
  display: flex;
  align-items: baseline;
}



.login-main-logo {
	max-width:400px;
}

.align-right {
	float:right;
}

.utils-link-color-main {
	a {color:rgb(22,51,117) !important;}
}

.main-login__block {
	padding: 0 !important;
}

.main-register__block {
  padding: 0 !important;
}

.main-forgot__block {
  padding: 0 !important;
}

.main-login__block__promo {
  padding: 0 0 1.5rem !important
}

.p-top-5 {
	padding-top: 5rem !important;
}

.space-above {
  margin-top: 24px;
  padding-top: 8px;
}

.centered-slim-card {
  margin: auto;
}

.ant-form-item-control-wrapper {
  margin: 1px;
}

.coaches-input {
  margin-bottom: 10px;
}

.edit-profile-block {
	padding: 1rem;
  border-radius: 10px;
  border: 1px solid $gray-border;
}

.custom-filter-dropdown {
  display: flex;
  align-items: center;
  padding: 12px;
  border-radius: 6px;
  background: #fff;
  box-shadow: 0 1px 6px rgba(0, 0, 0, .2);
}

.custom-filter-dropdown input {
  margin-right: 8px;
}

.range-picker-filter {
  margin: 25px;
  width: 300px;
}

.country-picker-container {
  height: 170px;
}

.ant-time-picker {
  margin-right: 8px;
}

form-input {
  margin-right: 10px !important;
}

.country-picker-filter {
  height: 100%;
  overflow-y: auto;
  margin-right: 10px;
}

.checkbox-group-filter input{
  margin: 5px;
  padding: 5px;
}

.ant-calendar-picker {
  margin-right: 8px;
}

.custom-filter-dropdown button {
  margin-right: 8px;
}

.table-flag {
  margin-right: 5px;
  vertical-align: baseline !important;
}

.highlight {
  color: #f50;
}

.center {
  float: none;
  margin: 0 auto;
}

.ant-notification {
  z-index: 99999999999;
}

.table-text {
  white-space: nowrap;
  overflow:hidden;
  text-overflow: ellipsis;
  display:block;
  text-transform:capitalize;
}

.table-tags {
  white-space: nowrap;
  overflow:hidden;
  text-overflow: ellipsis;
  display:grid;
}

table {
  table-layout: fixed;
}

.livesearch__wrapper {
  padding-left: 0;
  padding-right: 0;
}

.block-centered {
  margin: 0 auto;
}

.ant-dropdown-menu-item:hover {
  background-color: $gray-lighten;
}

.anticon {
  vertical-align: .1em;
}

.block {
  display: inline-block;
}

.documents-tag {
  font-size: 17px;
  color: rgba(0, 0, 0, 0.65);
  box-sizing: border-box;
  margin: 0;
  list-style: none;
  display: inline-block;
  padding: 5px 5px 5px 5px;
  border-radius: 5px;
  border: 1px solid #e4e9f0;
  background: #f2f4f8;
  -webkit-transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  opacity: 1;
  margin-right: 10px;
  cursor: pointer;
  white-space: nowrap;
}

.ant-card-head-title {
  width: 60%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}

.container-scrollable {
  height: 100%;
  overflow-y: scroll;
}

.ant-checkbox-wrapper {
  display: block;
}

.page-loading {
  display: flex;
  align-items: center;
  justify-content: center;
}

.upload-avatar {
  max-width: 150px;
}

.ml-5px {
  margin-left: 5px;
}

.dynamic-delete-button {
  cursor: pointer;
  position: relative;
  top: 4px;
  font-size: 24px;
  color: #999;
  transition: all .3s;
}
.dynamic-delete-button:hover {
  color: #777;
}
.dynamic-delete-button[disabled] {
  cursor: not-allowed;
  opacity: 0.5;
}
